<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{secured/layouts/master-page-layout}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user/user.css}" />
    <title>eLibrary - Browsing List of Users</title>
</head>
<body>
    <th:block layout:fragment="content">
        <div>
            <span style="font-size: 1.5em">List of Users</span>
            <span style="float:right;">
                <a class="btn btn-outline-primary btn-lg" href="/eLibraryFinal/secured/user/new">Add a New User</a>
            </span>
        </div>
        <p>&nbsp;</p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">User Type</th>
                    <th scope="col">User Number</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Email</th>
                    <th scope="col">Registration Date</th>
                    <th scope="col">Overdue Fine</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            	<!-- Alternative non-obstrusive js solution for <tr onclick>:
            		HTML markup: <tr data-href="some-url">
            		JS function using JQuery: $('tr[data-href]').on("click", function() {
    											document.position = $(this).data('href');
											});
            	 -->
                <!--<tr class="datarow" th:each="user,iterStat : ${users}" th:onclick="@{document.position='/srm/secured/user/edit/{userId}'(userId=${user.userId})}">-->
                <tr class="datarow" th:each="user, iterStat : ${users}" th:onclick="@{document.position='#'}">
                    <th scope="row" th:text="${iterStat.count}+'.'"></th>
                    <td th:text="${user.userType.userTypeName}"></td>
                    <td th:text="${user.userNumber}"></td>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.age}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.registrationDate}"></td>
                    <td th:text="${user.overduefine}"></td>
                    <td>
                        <a th:href="@{'/eLibraryFinal/secured/user/edit/' + ${user.userId}}">Edit</a>&nbsp;

                    </td>
                    <td><a th:href="@{'/eLibraryFinal/secured/user/delete/' + ${user.userId}}">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </th:block>

    <th:block layout:fragment="footer"></th:block>
    
</body>
</html>