<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{secured/layouts/master-page-layout}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/book/book.css}" />
    <title>eLibrary - Browsing List of Books</title>
</head>
<body>
<th:block layout:fragment="content">
    <div>
        <span style="font-size: 1.5em">List of Book in stock</span>
        <form action="/action_page.php">
            <input type="text" name="fname">
            <input type="submit" value="Search">
        </form>

        <span style="float:right;">
                <a class="btn btn-outline-primary btn-lg" href="/eLibraryFinal/secured/book/new">Add a Book</a>
            </span>
    </div>
    <p>&nbsp;</p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product Number</th>
            <th scope="col">Name</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Qty in Stock</th>
            <th scope="col">Supplier</th>
            <th scope="col">Date Supplied</th>
        </tr>
        </thead>
        <tbody>
        <!-- Alternative non-obstrusive js solution for <tr onclick>:
            HTML markup: <tr data-href="some-url">
            JS function using JQuery: $('tr[data-href]').on("click", function() {
                                        document.position = $(this).data('href');
                                    });
         -->
        <!--<tr class="datarow" th:each="book,iterStat : ${products}" th:onclick="@{document.position='/prodmgmt/products/edit/{productId}'(productId=${book.productId})}">-->
      <tr class="datarow" th:each="book,iterStat : ${products}" th:onclick="@{document.position='#'}">
            <th scope="row" th:text="${iterStat.count}+'.'"></th>
            <td th:text="${book.productNumber}"></td>
            <td th:text="${book.name}"></td>
            <td th:text="${#numbers.formatCurrency(book.unitPrice)}"></td>
            <td th:text="${book.quantityInStock}"></td>
            <td th:text="${book.user.name}"></td>
            <td th:text="${book.dateSupplied}"></td>
        </tr>
        </tbody>
    </table>
</th:block>

<th:block layout:fragment="footer"></th:block>

</body>
</html>